<h1 class="text-center">Post</h1>

<div class="panel">
  <h3><%= @post.title %></h3>
  <p><%= @post.body %></p>
  <p><%= @post.author %></p>
  <%= link_to 'Back', posts_path, class: 'button small success' %>
  <%= link_to 'Edit', edit_post_path(@post.id), class: 'button small success' %>
</div>
